<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://o8abod99a.bkt.clouddn.com/q.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://app.wxhbts.com/yueyu1/qq.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://app.wxhbts.com/yueyu1/qq.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.mqq.a</string>
				<key>bundle-version</key>
				<string>6.1.0.496</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>QQ分身版</string>
				<key>title</key>
				<string>QQ分身版</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
